#header {
    display: absolute;
    z-index: 99999;
}

h3 {
    color: #AACCFF;
    margin-bottom: 5px;
    padding-top: 0.5%;
    margin-left: 2%;
}

.bg {
    background-color: #222233;
    width: 100%;
    margin: 0px;
    background-size: contain;
}

#serverMessage {
    color: white;
}


@media screen and (max-width: 450px) {
    h3 {
        margin-right: 11%;
    }
    #header{ 
        display: block !important;
        font-size: 0.75em;
    }
    .displayText {
        float: none;
        margin-left: 5%
    }
    #mobileSelect {
        margin-top: 2%;
        margin-left: 7%;
    }
}

@media screen and (min-width: 600px) {
    #mobileSelect {
        display: none !important; 
    }
}

